<div class="center hero-unit">
	<!%= image_tag("scottville.jpg", alt: "Scottville Home", size: "324x180") %>
	<h1>Welcome to <%= game_name %></h1>
	<br>
	<h2>"Because sometimes life is like a game."</h2>
  <br>
  <h3><%= game_name %> is a free to play (with no purchasing advantages) persistent browser-based strategy game.  This game can be played with as little as a few minutes a day.</h3>
  <br>
  <h3>In <%= game_name %>, you are the leader of a ninja clan, trying to make your place in a ninja dominated world, and become the first clan to master the ultimate ninjutsu.</h3>
  <br>
  
  <% if !signed_in? %>
    <%= link_to "Create an Account!", signup_path, class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "Resume Game", game_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
