<%= render 'shared/flash_messages' %>

<h1>Log In</h1>

<div class="row">
  <div class="span6 offset3">
  
    <%= render 'shared/single_form_error' %>
  
    <%= form_for(:session, url: sessions_path) do |f| %>

      <% if flash[:error_field] == "email" %>
      <div class="error">
        <%= f.label :email, "Email Address" %>
        <%= f.text_field :email, maxlength: 254, value: session[:bad_email] %>
      </div>
      <% else %>
        <%= f.label :email, "Email Address" %>
        <%= f.text_field :email, maxlength: 254, value: session[:bad_email] %>
      <% end %>
      
      <% if flash[:error_field] == "password" %>
      <div class="error">
        <%= f.label :password %>
        <%= f.password_field :password, maxlength: 20 %>
      </div>
      <% else %>
        <%= f.label :password %>
        <%= f.password_field :password, maxlength: 20 %>
      <% end %>
      
      <%= check_box_tag :remember_me, 1, params[:remember_me], class: "checkbox" %>
      <%= label_tag :remember_me, "Keep me logged in", class: "checkbox_label" %>
      <br><br>

      <%= f.submit "Log In", class: "btn btn-large btn-primary wide_button", :disable_with => "Logging in..." %>
      
    <% end %>
    
    <p><%= link_to "Forgot password?", resetpassword_path %></p>

    <p>New player? <%= link_to "Create an account!", signup_path %></p>
  </div>
</div>

<%= render 'shared/focus_field' %>
