<h1>Account Creation</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@user, html: { class: "form-horizontal" } ) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      
      <div class="control-group">
        <%= f.label :name %>
          <div class="controls">
          <%= f.text_field :name, maxlength: 20, placeholder: "This will be seen by other players", size: 70 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email %>
        <div class="controls">
          <% if flash[:email] %>
            <%= f.text_field :email, value: flash[:email], maxlength: 254, placeholder: "Used to log in", size: 70 %>
          <% else %>
            <%= f.text_field :email, maxlength: 254, placeholder: "Used to log in", size: 70 %>
          <% end %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password %>
        <div class="controls">
          <%= f.password_field :password, maxlength: 20, placeholder: "Minimum 6 characters", size: 70 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <div class="controls">
          <%= f.password_field :password_confirmation, maxlength: 20, placeholder: "Retype password", size: 70 %>
        </div>
      </div>

      <div class="controls">
        <%= f.submit "Create my account", class: "btn btn-large btn-primary wide_button", :disable_with => "Creating..." %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('<%= @focus_field %>').focus();
}
</script>
