<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, maxlength: 20, autofocus: true %>

      <%= f.label :email %>
      <%= f.text_field :email, maxlength: 254 %>

      <%= f.label :password %>
      <%= f.password_field :password, maxlength: 20 %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, maxlength: 20 %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>