<h1>Account Creation</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, maxlength: 20, placeholder: 'This will be seen by other players' %>

      <%= f.label :email %>
      <% if flash[:email] %>
        <%= f.text_field :email, value: flash[:email], maxlength: 254, placeholder: "Used to log in" %>
      <% else %>
        <%= f.text_field :email, maxlength: 254, placeholder: "Used to log in" %>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, maxlength: 20, placeholder: "Minimum 6 characters" %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, maxlength: 20, placeholder: "Retype password" %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
window.onload = function() {
  document.getElementById('<%= @focus_field %>').focus();
}
</script>
